@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins",
    sans-serif;
}
@theme inline {
  /*<==========FONT-SIZES==========> */
  --text-custom-xs: 15px;
  --text-custom-2xl: 21px;
  --text-custom-3xl: 32px;
  --text-custom-4xl: 100px;

  /*<==========LINE-HEIGHT==========> */
  --spacing-100: 100%;
  --spacing-120: 120%;
  --spacing-133: 133%;
  --spacing-146: 146%;
  --spacing-148: 148%;
  --spacing-164: 164%;

  /*<==========COLORS==========> */
  --color-orange: #FD6F00;
  --color-light-blue: #edf8ff;
  --color-grey: #c4c4c4;
  --color-light-grey: #fcfdff;
  --color-dark-grey: #4d4d4d;

  /*<==========SHADOWS==========> */
  --shadow-light-grey: 3px 5px 28px 0px #00000008;
  --shadow-light-black: 0px 4px 29px 0px #00000008;
  --shadow-mid-black: 0px 4px 4px 0px #00000040;
  --shadow-dark-grey: 8px 11px 13px 0px #00000040;
  --shadow-newsletter: -10px -5px 69px 0px #00000008;
}
